Repository ANSSI-FR/MLA, pull requests merged in 2025-02, with the labels that each got.

#228 Upgrade bench workflow + trigger on '/benchmark' comment
  .github/workflows/bench.yml
Labels: CI, github_actions

#235 Pin GitHub actions versions
  .github/workflows/bench.yml
  .github/workflows/mla_release.yml
  .github/workflows/mlar_release.yml
  .github/workflows/py-bindings.yml
  .github/workflows/sanitize.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  bindings/C/mla.hpp
  bindings/python/Cargo.lock
  bindings/python/pyproject.toml
  bindings/python/src/lib.rs
  mla/Cargo.toml
  mla/src/config.rs
  mla/src/crypto/hash.rs
  mla/src/helpers.rs
  mla/src/layers/compress.rs
  mla/src/layers/encrypt.rs
  mla/src/lib.rs
  mlar/src/main.rs
Labels: enhancement, github_actions

#230 Minor details update on FORMAT.md
  FORMAT.md
Labels: documentation

#220 Use HPKE
  .github/workflows/mla_release.yml
  .github/workflows/mlar_release.yml
  .github/workflows/py-bindings.yml
  .github/workflows/test.yml
  .gitignore
  Cargo.lock
  bindings/C/mla.h
  bindings/C/mla.hpp
  bindings/C/src/lib.rs
  bindings/C/tests/linux-gcc-g++/info.c
  bindings/C/tests/linux-gcc-g++/open.c
  bindings/C/tests/windows-msvc/src/read.c
  bindings/python/Cargo.lock
  bindings/python/Cargo.toml
  bindings/python/src/lib.rs
  bindings/python/tests/test_mla.py
  mla/Cargo.toml
  mla/src/config.rs
  mla/src/crypto/ecc.rs
  mla/src/crypto/hash.rs
  mla/src/crypto/hpke.rs
  mla/src/crypto/hybrid.rs
  mla/src/crypto/mod.rs
  mla/src/errors.rs
  mla/src/helpers.rs
  mla/src/layers/compress.rs
  mla/src/layers/encrypt.rs
  mla/src/lib.rs
  mlar/src/main.rs
  samples/archive_v2.mla
Labels: tests, refactoring, github_actions
